@charset  'UTF-8';

@media screen and (max-width:800px ){
  img.barb1{
    max-width: 400px;
  }
   
}
/* print(impressão)*/


/* todas as tela all*/



/* mobile first */
/* min-width > max-width*/
@media (min-width: 360px){
    img.barb1{
        min-width: 360px;
       
        
    }
    
}


*{
   margin: 0%;
   padding: 0%; 
  }
 
html ,body{
    width: 100vw;
    height: 100vh;
    background-image: url("../imagens/fundo-madeira.jpg");
   /* background-color: black;*/
    max-width:800px ;/* largura maxima que a tela vai se adaptar*/
    width: 100%;
    min-width: 360px;
    margin: auto;
    background-attachment: fixed;
   
}
h1{
    font-family:berold;
    font-size: 60px;
    text-align: center;
     text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.947);
     color: white;
     
}
h2{
    font-family: berold;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 4px 6px 8px black;
}
h2.estilo{
    background-image: linear-gradient(to left,#43501b,transparent);
    font-style: bleeding;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
h3{
    font-family: bleeding;
    text-align: center;
    text-decoration: underline;
    color: white;
}
 
div.cabeça{
  
    background-color:#4d5d16;
}
p.agora{
    color: white;
    text-align: center;
    padding-top: 15px;
}
.endereço{
    text-align: center;
    color: white;
    padding-top: 20px;
}
p.venha{
    font-family:berold;
    color: white;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0.451);
    border-radius: 15px 0px 15px 0px;
}
p.agende{
    font-family: bleeding;
    text-align: center;
    color: white;
    text-align: center;
    text-decoration: underline;
    padding-top: 60px;
}
img.map{
    width: 32px;
    margin-left: 400px;
  
}  
img.map:hover{
    width: 38px;
    box-shadow: 4px 4px 6px black;
}
#face{
    width: 30px;
    border-radius: 50%;
}
#insta{
    width: 30px;
    border-radius: 50%;
    
    
}
#face:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width: 38px;
    transition: .5s;
}
#zap{
    width: 30px;
    margin-left: 270px;
}
#zap:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width:35;
    transition: .5s;
   
}
li{
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
}
#insta:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width: 38px;
    transition: .5s;
    
}

#foto{
    display: inline-block;
}
.fotos{
    font-weight: bolder;
}

img.barb1{
    width: 70%;
    height: 50%;
    border-radius: 5px 5px 0px 0px ;
    box-shadow: 9px 6px 8px rgba(0, 0, 0, 0.684);
    text-align: center;
    margin-top: 50px;
    margin-left: 17%;
    margin-bottom: 30px;
}

#nico{
    width: 35px;
}
.audio{
    width: 32px;
}
.tv{
    width: 30px;
}
.tv:hover{
    width: 37px;
    box-shadow: 5px 6px 6px rgb(0, 0, 0) ;
    transition: .5s;
}
.audio:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    border-radius: 0px 9px 15px 15px;
    transition: .5s;
    width: 38px;
}
#nico:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width:38px;
    border-radius: 50%;
    transition: .5s;
    
}
.icone1{
    width: 36px;
    height: 31px;
    border-radius: 10%;
    }
    .icone1:hover{
     box-shadow: 5px 6px 6px rgb(0, 0, 0);
     width: 39px;
     transition: .5s;
    }
menu{
 height: 50px;
   text-align: center;
   background-color: rgba(240, 255, 255, 0.221);
   border-radius: 0px 0px 7px 7px;
}
img.foto14{
    width: 70%;
    height: 50%;
    text-align: center;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.74);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 30px;
    margin-left: 17%;
}
footer{
    background-color: #4D5D16;
    margin-top: 176px;
    border-radius: 5px 5px 0px 0px;
   
   
}
p.fot{
 
   font-style:normal;
   font-size: 20px;
   padding: 5px;
   color: rgb(27, 17, 17);
  
}