@charset  'UTF-8';

*{
   margin: 0%;
   padding: 0%; 
  
  
}
 
html ,body{
    width: 100vw;
    height: 100vh;
    background-image: url("../imagens/fundo-madeira.jpg");
   /* background-color: black;*/
    max-width:600px ;/* largura maxima que a tela vai se adaptar*/
    min-width: 300px;
    margin: auto;
   
}
h1{
    font-family:berold;
    font-size: 60px;
    text-align: center;
     text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.947);
     
}
h2{
    font-family: berold;
    text-align: center;
    font-size: 30px;
}
h2.estilo{
    background-image: linear-gradient(to left,rgba(83, 210, 206, 0.774),transparent);
    font-style: bleeding;
    color: white;
    text-align: center;
    margin: auto;
}
h3{
    font-family: bleeding;
    text-align: center;
}
div.cabeça{
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.527);
    
}
p.agora{
    color: white;
    text-align: center;
}
.endereço{
    text-align: center;
    color: white;
}
p.venha{
    font-family:berold;
    color: white;
    text-align: center;
}
p.agende{
    font-family: bleeding;
    text-align: center;
    color: white;
    text-align: center;
    text-decoration: underline;
    
}
img.map{
    width: 32px;
    margin-left: 510px;
}
img.map:hover{
    width: 38px;
    box-shadow: 4px 4px 6px black;
}
#face{
    width: 30px;
    border-radius: 50%;
    
    
    
}
#insta{
    width: 30px;
    border-radius: 50%;
    
    
}
#face:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width: 38px;
    transition: .5s;
}
#zap{
    width: 30px;
   border-radius: 50%;
}
#zap:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width:32;
   transition: .5s;
   
}
li{
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
}
#insta:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width: 38px;
    transition: .5s;
    
}

#foto{
    display: inline-block;
}
.fotos{
    font-weight: bolder;
}
div#tu{
  
  margin-top: 20px;
  text-align: center;
  }
#tu2{
    border-radius: 10%;
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.625);
 }
#nico{
    width: 35px;
}
.audio{
    width: 32px;
}
.tv{
    width: 30px;
}
.tv:hover{
    width: 37px;
    box-shadow: 5px 6px 6px rgb(0, 0, 0) ;
    transition: .5s;
}
.audio:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    border-radius: 0px 9px 15px 15px;
    transition: .5s;
    width: 38px;
}
#nico:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width:38px;
    border-radius: 50%;
   transition: .5s;
    
}
.icone1{
    width: 36px;
    height: 31px;
    border-radius: 10%;
    }
    .icone1:hover{
        box-shadow: 5px 6px 6px rgb(0, 0, 0);
        width: 39px;
        transition: .5s;
    }
menu{
 height: 50px;
   text-align: center;
   background-color: rgba(240, 255, 255, 0.221);
   border-radius: 0px 0px 7px 7px;
  
  
}
footer{
    background-color: rgba(119, 153, 144, 0.553);
   margin-top: 69px;
   
   
}
p.fot{
 
   font-style: oblique;
   font-size: small;
  padding: 5px;
  color: white;
  
}