*{
    margin: 0px;
    padding: 0px; 
   
  
   
 }
  
 html ,body{
     width: 100vw;
     height: 100vh;
     background-image: url("imagens/fundo-madeira.jpg");
     max-width: 600px;
     min-width: 360px;
     margin: auto;
    
    
 }
 h1{
    background-image: linear-gradient(to left,rgba(225, 100, 27, 0.774),transparent);
     font-family:berold;
     text-align: center;
     color: white;
      text-shadow: 4px 6px 5px black;
     
      
 }
 h3{
     font-family: mister;
     text-align: center;
 }
 div.cabeça{
     padding: 40px;
     background-color: rgba(0, 255, 255, 0.355);
   
    }
    .f1{
        max-width:600px ;/* largura maxima que a tela vai se adaptar*/
    min-width: 360px;
        height: 300px;
        padding-left: 100px;
        display: block;
        text-align: center;
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.822);
        
        }
    .f2{
        max-width:600px ;/* largura maxima que a tela vai se adaptar*/
        min-width: 360px;
        height: 300px;
        padding-left: 100px;
        display: block;
        text-align: center;
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.822);
        
    }
    .f3{
        max-width:600px ;/* largura maxima que a tela vai se adaptar*/
    min-width: 360px;
        height: 300px;
        padding-left: 100px;
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.822);
        display: block;
        text-align: center;
      
       
    }
    .f4{
        max-width:600px ;/* largura maxima que a tela vai se adaptar*/
        min-width: 360px;
        height: 300px;
        padding-left: 100px;
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.822);
        display: block;
        text-align: center;
     
    } .foot02{
       
    }
    footer > p{
        background-color: rgba(240, 248, 255, 0.403);
        display: block;
        width: 155px;
        font-weight: bolder;
        margin-left: 200px;
        padding: 10px;
        padding-bottom: 9px;
        border-radius: 5px 5px 0px 0px;
       
    }
    