*{
    margin: 0px;
    padding: 0px; 
   }
  
 html ,body{
     width: 100vw;
     height: 100vh;
     background-image: url("imagens/fundo-madeira.jpg");
     max-width: 600px;
     min-width: 360px;
     margin: auto;
     background-attachment: fixed;
    
    
 }
 h1{
    font-family: bleeding ;
  background-color:#4D5D16 ;
     font-family:berold;
     text-align: center;
     color: white;
      text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.711);
      padding: 20px;
      border-radius: 0px 0px 10px 10px;
     
     
     
 }
 h3{
    font-family: berold;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #8492553b;
    border-radius: 50%;
 }
 
 
   .video2{
    width: 98%;
    height: 60%;
     margin-left: -0%;
   background-color: black;
     border: solid 7px #4D5D16;
   }
   #zap{
    width: 30px;
  
   margin-left: 270px;
}
#zap:hover{
    box-shadow: 5px 6px 6px rgb(0, 0, 0);
    width:35;
   transition: .5s;
   
}
p.venha{
    font-family:berold;
    color: white;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    background-color: #353b2099;
   
}
p.agende{
    font-family: bleeding;
    text-align: center;
    color: white;
    text-align: center;
    text-decoration: underline;
   padding-top: 10px;
   margin-bottom: 20px;
   
}
  .foot02{
       
    }
    footer > p{
        color: white;
        font-weight: bolder;
        padding: 10px;
        padding-bottom: 9px;
        text-align: center;
        }

footer > p >a{
    text-decoration: none;
    color: white;
    
}
p.aguardamos{
    color: rgb(44, 84, 33);
    font-family: berold;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: solid 5px  rgb(44, 84, 33);
    text-justify: auto;
    margin: auto;
    text-indent: 70px;
}