*{
    margin: 0px;
    padding: 0px; 
   
  
   
 }
  
 html ,body{
     width: 100vw;
     height: 100vh;
     background-image: url("imagens/fundo-madeira.jpg");
     max-width: 600px;
     min-width: 360px;
     margin: auto;
    
    
 }
 h1.barb{
      
     font-family:berold;
     text-align: center;
      text-shadow: 2px 2px 5px black;
     }
 
 div.cabeça{
     padding: 20px;
     background-color: rgba(0, 255, 255, 0.895);
     border-radius: 0px 5px 0px 5px;
    }
    .f1{
        width:600px;
        height: 300px;
        
        }
    .f2{
        width:600px ;
         height: 300px;
       
        
    }
    .f3{
        width: 600px;
        height: 300px;
      
       
    }
    .f4{
        width: 600px;
        height: 300px;
     
    }