@charset  'UTF-8';

@media screen and (max-width:800px ){

   
}
/* print(impressão)*/


/* todas as tela all*/



/* mobile first */
/* min-width > max-width*/
@media (min-width: 360px){
    
}
 *{
    margin: 0px;
    padding: 0px; 
   
  
   
 }
  
 html ,body{
     width: 100vw;
     height: 100vh;
     background-image: url("imagens/fundo-madeira.jpg");
    /* max-width:600px;*/
   
     min-width: 360px;
     margin: auto;
     background-attachment: fixed;
    
    
 }
 h1{
   
     font-family:berold;
     text-align: center;
     color: white;
      text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.651);
      padding: 20px;
      background-color: #4D5D16;
      border-radius: 0px 0px 10px 10px;
     
     
 }
 h2{
    color: darkorange;
    text-align: center;
    margin: auto;
 }
  
 h3{
    color: white;
    text-align: center;
 
 }
  
    .f1{
        width: 40%;
        height: 50%;
        display: inline-block;
        text-align: center;
        padding-left: 10%;
       
        }
    .f2{
       display: inline-block;
        width: 40%;
        height: 50%;
        text-align: center;
    }
    .f3{
       
        width: 40%;
        height: 50%;
       display: inline-block;
        text-align: center;
        padding-left: 10%;
        
    }
    .f4{
       
        width: 40%;
        height: 50%;
        display: inline-block;
        text-align: center;
    }
    .f5{
        width: 40%;
        height: 50%;
        display: inline-block;
        text-align: center;
        padding-left: 10%;
    }
    .f6{
        display: inline-block;
        width: 40%;
        height: 50%;
        text-align: center;
    }
    .f7{
        width: 40%;
        height: 50%;
        display: inline-block;
        text-align: center;
        padding-left: 10%;
    }
    .f8{
        display: inline-block;
        width: 40%;
        height: 50%;
        text-align: center;
        
       
    }
    .f9{
        width: 40%;
        height: 50%;
        display: inline-block;
        text-align: center;
        padding-left: 10%;
    }
    .f10{
        display: inline-block;
        width: 40%;
        height: 50%;
        text-align: center;
    }
    .f11{
        width: 40%;
        height: 50%;
        display: inline-block;
        text-align: center;
        padding-left: 10%;
       
    }
    .f12{
        display: inline-block;
        width: 40%;
        height: 50%;
        text-align: center;
    }
   
  .foot02{
       
    }
    footer > p {
        color: white;
        font-weight: bolder;
        padding: 10px;
        padding-bottom: 9px;
        text-align: center;
       
        }
    footer > p >a{
        text-decoration: none;
        color: white;
     }
     p.aqui{
        color: rgb(44, 84, 33);
    font-family: berold;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-justify:auto;
    margin: auto;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(44, 84, 33);
     }